/* banner*/
.swagger-ui .topbar {
    background-color: #49cc90;
}

/* content */
.swagger-ui .wrapper {
    max-width: 90%;
}

/* head */
.swagger-ui .info {
    margin: 0px 0;
}

.swagger-ui .info hgroup.main {
    margin: 0 0 10px;
    display: flex;
}

.swagger-ui .info .title {
    font-size: 36px;
    margin: 0;
    font-family: sans-serif;
    color: #3b4151;
    flex: 1 1 auto;
}
.swagger-ui .info .title small {
    top: 0px;
}
.swagger-ui .info hgroup.main a {
    font-size: 12px;
    flex: 0 0 300px;
    line-height: 47px;
    padding-left: 20px;
    font-weight: bold;
}

.swagger-ui .info .base-url {
    font-size: 12px;
    /* font-weight: 300!important; */
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    color: #3b4151;
    flex: 0 0 300px;
    line-height: 47px;
    text-align: right;
}
/* Schemes */
.swagger-ui .markdown p, .swagger-ui .markdown pre, .swagger-ui .renderedMarkdown p, .swagger-ui .renderedMarkdown pre {
    margin: .5em auto;
}
.swagger-ui .scheme-container {
    margin: 0;
    padding: 30px 0 10px 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}
.swagger-ui .opblock .opblock-summary-description {
    text-align: right;
    padding-right: 50px;
}
